/* global */
*{
    color: #FFFF;
    font-family: Arial, Times, serif, sans-serif;
    box-sizing: border-box;
    margin:0px;
}

body{
    background-color: rgb(228, 230, 225);
}

/* outermost div of navigation bar */
#navbar{
    height:60px;
    width: 100%;
    background-color: #0f1111;
    display: flex;
    align-items: center; 
    position: fixed;
    top: 0px;
    z-index: 1;
}

/* first div from the outermost div for amazon logo (first box)*/
#logo-box{
    padding-right: 5px;
}

#nav-logo{
    margin-top: 4px;
    width: 110px;
    height: 48px;
    background-image: url(logo.png);
    background-size: cover;
    margin-left: 5px;
} 

/* second div for second box */
#nav-icon-loc{
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    height:53px;
    padding-left: 5px;
    padding-right: 5px;
}
#text-loc{
    margin-left: 4px;
}
#tx1{
    color: #CCCC;
    font-size: 12px;
}

/* outermost div for the whole search panel */
#search{
    display:flex;
    flex-grow: 1;
    align-items: center;
    margin-left: 7px;
}

/* dropdown */
select{
    background-color: #e6e6e6;
    margin-left: 18px;
    color: #4c5252;
    height: 40px;
    width: 55px;
    position: relative;
    padding-left: 4px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border: transparent;
} 
option{
    color: black;
}

/* searching space or textbox */
input{
    height: 40px;
    width: 800px;
    border: none;
    color: #0f1111;
}

/* search button */
button{
    background-color: rgb(254, 175, 28);
    height:40px;
    width:45px;
    border: none;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    font-size: 20px;
}

#lang-logo{
    width:22px;
    height: 16px;
    background-image: url(flag.png);
    background-size: cover;
}

#lang{
    height:45px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;   
}

#lang-text p b{
    font-size: 13px;
}


/* sign-in option beside search panel (forth box)*/
#sign-in{
    height:53px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
}


/* return option (fifth box) */
#returns{
    height:53px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 15px;
}
#in1{
    font-size: 12px;
}
#in2{
    font-size: 14px;
}



/* border effect on hover and click */
.border{
    border:1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
.border2{
    border:4px solid transparent;
}
.border2:focus{
    border:3px solid orange;
}



/* logos */
.fa-magnifying-glass{
    position: relative;
    right:2px;
}
.fa-location-dot{
    position: relative;
    top: 5px;
}
#cart-logo{
    height:53px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
}


#column{
    height:39px;
    background-color: #242727;
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.bars{
    display: flex;
    align-items: center;
    height: 35px;
    font-size: 14px;
    margin-left: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

#all{
    display: flex;
    align-items: center;
    height: 35px;
    font-size: 14px;
    padding-left: 3px;
    padding-right: 3px;
}

#bars-logo{
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
}

#add1{
    height:500px;
    background-image: url(add1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    z-index: -1;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

#onadd1{
    height: 40px;
    width: 1450px;
    background-color: #F5F6F6;
    margin-top: 250px;
}

#para1{
    color: #0f1111;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

#link1{
    color: rgb(32, 74, 163);
    text-decoration: none;
}

.pic{
    height: 425px;
    width: 23%;
    background-color: white;
    margin-top: 15px;
}

#post{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    bottom:200px;
    height:700px;
}

.addtext{
    color: #0f1111;
    font-size: 21px;
    margin-top: 15px;
    margin-left: 25px;
}

#addimg1{
    width: 300px;
    height: 300px;
    margin-left: 25px;
    margin-top: 15px;
    background-image: url(addimg.jpg);
    background-size: cover;
}
#addimg2{
    width: 200px;
    height: 300px;
    margin-left: 80px;
    margin-top: 15px;
    background-image: url(addimg2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#addimg3{
    width: 300px;
    height: 300px;
    margin-left: 25px;
    margin-top: 15px;
    background-image: url(addimg3.2.jpg);
    background-size: cover;
}
#addimg4{
    width: 300px;
    height: 300px;
    margin-left: 25px;
    margin-top: 15px;
    background-image: url(addimg4.2.webp);
    background-size: cover;
}
#addimg5{
    width: 300px;
    height: 300px;
    margin-left: 25px;
    margin-top: 15px;
    background-image: url(addimg5.2.jpg);
    background-size: cover;
}
#addimg6{
    width: 300px;
    height: 300px;
    margin-left: 25px;
    margin-top: 15px;
    background-image: url(addimg6.2.jpg);
    background-size: cover;
}
#addimg7{
    width: 300px;
    height: 300px;
    margin-left: 25px;
    margin-top: 15px;
    background-image: url(addimg7.2.webp);
    background-size: cover;
}
#addimg8{
    width: 300px;
    height: 300px;
    margin-left: 25px;
    margin-top: 15px;
    background-image: url(addimg8.2.webp);
    background-size: cover;
}
.addtext2{
    color:rgb(32, 74, 163);
    font-size: 13px;
    margin-left: 25px;
    margin-top: 25px;
}

#sign-in2{
    height:190px;
    background-color:#F5F6F6;
}

#signinborder{
    position: relative;
    top: 40px;
    border: 2px solid rgb(214, 213, 213);
    height: 130px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#line1{
    color: #000;
    font-size: 24px;
}

#line2{
    background-color: #ffd814;
    height: 33px;
    width:230px;
    border-radius: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#line2 p{
    display: inline;
    color: #000000;
    font-size: 13px;
}

#lastline{
    font-size: 11px;
    color: #000000;
    display: inline-block;
    margin-top: 8px;
    font-weight: 600;
}

#lastline a{
    color: #2162a1;
}

#sign-in2-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 5px;
    flex-direction: column;
}


#connectordiv{
    background-color: #37475a;
    height: 49px;
}

#connector{
    text-align: center;
    color: #F5F6F6;
    font-size: 13px;
    position: relative;
    top:15px;
}

#footer{
    height:400px;
    background-color: #232F3E;
    display: flex;
    justify-content: center;
}

#panel{
    width:1000px;
    display: flex;
    justify-content: space-evenly;
}

.paracont{
    display: block;
    margin-top:10px;
    font-size: 14px;
    text-decoration: none;
    color: #DDDD;
}

.toppara{
    display: block;
    margin-top: 50px;
}

#endfooter{
    height:100px;
    background-color: #232F3E;
    position: relative;
    bottom:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#endfooter-logo{
    width: 110px;
    height: 48px;
    background-image: url(image.png);
    background-size: cover;
}


#copyright{
    height: 100px;
    background-color: #141a20;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
}

#copyright-box{
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.copyright-cont{
    font-size: 12px;
    text-decoration: none;
    color: rgb(171, 170, 170);
}